<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/signup.css">
  <link rel="stylesheet" type="text/css" href="/css/home.css">

  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.0/css/all.css" integrity="sha384-OLYO0LymqQ+uHXELyx93kblK5YIS3B2ZfLGBmsJaUyor7CpMTBsahDHByqSuWW+q" crossorigin="anonymous">
  <link rel="icon" href="/images/png_SSOM_logomark_charcoal.png">
  <title>The Scholtz School of Music</title>
</head>
<body>

  <nav class="mainNav">
    
    <div class="img-container">
      <a href="/">
        <img class="img" src="/images/png_SSOM_logomark_charcoal.png" alt="logo">
      </a>
    </div>
    <% if (user) { %>
    <ul data-user="<%= user %>" data-first="<%= user.first %>" data-last="<%= user.last %>">
    <% } else { %>
    <ul>
    <% } %>
      <li class="dropdown join">
        <button class="drop-button"><a href="/join">Join</a></button>
        <div class="drop-content">
          <a href="/join/guitar">Guitar</a>
          <a href="/join/drums">Drums</a>
          <a href="/join/bass">Bass</a>
          <a href="/join/theory">Music Theory</a>
        </div>
      </li>
      <li class="dropdown resources">
        <button class="drop-button"><a href="/resources">Resources</a></button>
        <div class="drop-content">
          <a href="/resources/custom">Custom Resource</a>
        </div>
      </li>
      <li class="dropdown contact">
        <button class="drop-button"><a href="/contact">Find Answers</a></button>
        <div class="drop-content">
          <a href="/contact/ask">Ask a Question</a>
        </div>
      </li>

      <% if (user) { %>
      <li class="dropdown account-user">
        <button class="drop-button"><a href="/account"><%= `${user.first} ${user.last}` %></a></button>
        <div class="drop-content">
          <a href="/account/lessons">Lessons</a>
          <a href="/account/invoices">Invoices</a>
          <a href="/account/logout">Logout</a>
        </div>
      </li>
      <% } else { %>
      <li class="dropdown account-noUser">
        <button class="drop-button"><a href="/account">Account</a></button>
        <div class="drop-content">
          <a href="/account/login">Log In</a>
          <a href="/account/signup">Sign Up</a>
        </div>
      </li>
    <% } %>
    </ul>
    
  </nav>

<!-- BODY -->
  <%- body %>

  <footer>
    <div class="box">
      <h3>Find us on these platforms</h3>
    </div>
  </footer>

  <script src="/js/main.js"></script>

</body>
</html>